* {
    box-sizing: border-box;
  }
  html {
    color: #5a5959;
    font-family: lato-regular;
  }
  
  body {
    font-size: 1rem;
    margin: 0;
  }

  .canvas-container  {
    width: 100%;
  }
  
  .card-input, h3, h4, h5,h6 {
    margin: 0 0 1em;
  }

  h1{
    margin-block-start: 20px;
  }
  
  .card-input {
    font-size: 1.75em;
    /* font-family: lato-bold; */
  }
  

  

   .saved-memes-container img {
    width:300px;
  }
  .saved-memes-container{
    /* column-count: 3; */
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .home-page img:hover{
    /* border: #3f4044 10px; */
   box-shadow: 0 0 5px #3f4044, 0 0 25px #3f4044, 0 0 50px #3f4044, 0 0 200px #3f4044;

  }
  .home-page img::after{
    content: 'press me';
 
  }

  .card .editor{
    background-color: #085c74b0;
  }

  .emojis button {
    padding: 0;
    border: 0;
    background-color: transparent;
    
   }

  .emojis >*:hover {
    scale: 1.3;

  }
  /* input .image{
    margin-block-start: 20px;
  } */
  