
.card .canvas-container {
    grid-area: i;
    height: 100%;
  }
  
  /* .card > *:not(canvas-container) { */
  .card > *:not(.canvas-container) {
    grid-column: 2;
  }
  
  .text-container .card-button {
    flex-grow: 0;
  }
  
  .card .btns-container {
    margin-inline:auto;
    grid-area: p;
    align-self:flex-start;
  }
  .card .text-features {
    width: 90%;
    align-self:flex-start;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    grid-area: t;
    border-radius: 1em;
    padding: 1.8em;
  }
  .card {
    margin: 0 0 40px;
  }
  .card .card-input {
    grid-area: h;
  }
  .card .card-input input{
    /* width: 90%; */
    height: 60px;
    font-size: .75em;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--clr7);

  }
  
  .card .card-button {
    width: fit-content;
    margin-block-start: auto;
    margin-inline: auto;
    color: var(--clr2);
  }
  
  .card .import-btns .file-input {
    grid-area: b;

  }

  .card .emojis{
    font-size: 4em;
    flex-wrap: wrap;
  }

  .card .emojis-container button:not(.emojis button){
    font-size: 2em;
    background-color: transparent;
    border: transparent;
  }



  
  