.card .canvas-container {
    grid-area: i;
    height: 100%;
  }
  
  /* .card > *:not(canvas-container) { */
  .card > *:not(.canvas-container) {
    grid-column: 2;
  }
  
  .text-container .card-button {
    flex-grow: 0;
  }
  
  .card .btns-container {
    width: 60%;
    margin-inline:auto;
    grid-area: p;
    align-self:flex-start;
  }
  .card .text-features {
    background-color: var(--clr7);
    width: 90%;
    align-self:flex-start;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /* margin-inline:auto; */
    grid-area: t;
    border-radius: 1em;
    padding: 1.8em;
  }
  .card {
    margin: 0 0 40px;
  }
  .card .card-input {
    grid-area: h;
  }
  .card .card-input input{
    width: 90%;
    height: 60px;
    font-size: .75em;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--clr7);

  }
  
  .card .card-button {
    grid-area: b;
    width: fit-content;
    margin-block-start: auto;
    margin-inline: auto;
  }
  
  /* .card:last-child {
    flex: 1;
  } */
  