
.card .canvas-container {
    grid-area: i;
    height: 100%;
  }
  
  /* .card > *:not(canvas-container) { */
  .card > *:not(.canvas-container) {
    grid-column: 2;
  }
  
  .text-container .card-button {
    flex-grow: 0;
  }
  
  .card .btns-container {
    /* width: 60%; */
    margin-inline:auto;
    grid-area: p;
    align-self:flex-start;
  }
  .card .text-features {
    background-color: var(--clr7);
    width: 90%;
    align-self:flex-start;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /* margin-inline:auto; */
    grid-area: t;
    border-radius: 1em;
    padding: 1.8em;
  }
  .card {
    margin: 0 0 40px;
  }
  .card .card-input {
    grid-area: h;
  }
  .card .card-input input{
    /* width: 90%; */
    height: 60px;
    font-size: .75em;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--clr7);

  }
  
  .card .card-button {
    width: fit-content;
    margin-block-start: auto;
    margin-inline: auto;
  }
  
  .card .import-btns .file-input {
    /* margin-block-start:30px; */
    grid-area: b;

  }

  .card .emojis{
    font-size: 5em;
    /* grid-area: e; */
    grid-column: 2;
    grid-row: 3;
    margin-block-start: auto;
    /* width: 100%; */
    height: 30%;
    /* overflow-x: scroll; */
    overflow-y: scroll;
    
  }

  /* .card:last-child {
    flex: 1;
  } */
  